<aside class="sidebar__Wrapper-sc-1qv9b7u-1 cKlDwf">
    <div id="nav-mobile">
        <button class="button__ButtonWrapper-sc-11h7etp-1 jyTjrC">
            <svg viewBox="0 0 459 459" class="button__Svg-sc-11h7etp-0 fWmTgO button___StyledIcon-sc-11h7etp-2 iAVEGx">
                <path d="M459.319,229.668c0,22.201-17.992,40.193-40.205,40.193H269.85v149.271c0,22.207-17.998,40.199-40.196,40.193 c-11.101,0-21.149-4.492-28.416-11.763c-7.276-7.281-11.774-17.324-11.769-28.419l-0.006-149.288H40.181 c-11.094,0-21.134-4.492-28.416-11.774c-7.264-7.264-11.759-17.312-11.759-28.413C0,207.471,17.992,189.475,40.202,189.475h149.267 V40.202C189.469,17.998,207.471,0,229.671,0c22.192,0.006,40.178,17.986,40.19,40.187v149.288h149.282 C441.339,189.487,459.308,207.471,459.319,229.668z"></path>
            </svg>
        </button>
        <div class="mobile__Wrapper-sc-ezyuhy-0 dTsFKM">
            <nav class="mobile__Nav-sc-ezyuhy-1 jIrbrL">
                <div class="sidebar__TOCWrapper-sc-1qv9b7u-0 tQijR">
                    <ul>
                        <li class="section">
                            <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#introduction">Introduction</a>
                            <ul>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#graphql">GraphQL</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#rest">REST</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#info-and-pagination">Info and Pagination</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#javascript-client">JavaScript client</a>
                                </li>
                            </ul>
                        </li>
                        <li class="section">
                            <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#character">Character</a>
                            <ul>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#character-schema">Character schema</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-characters">Get all characters</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-character">Get a single character</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-characters">Get multiple characters</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-characters">Filter characters</a>
                                </li>
                            </ul>
                        </li>
                        <li class="section">
                            <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#location">Location</a>
                            <ul>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#location-schema">Location schema</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-locations">Get all locations</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-location">Get a single location</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-locations">Get multiple locations</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-locations">Filter locations</a>
                                </li>
                            </ul>
                        </li>
                        <li class="section">
                            <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#episode">Episode</a>
                            <ul>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#episode-schema">Episode schema</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-episodes">Get all episodes</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-episode">Get a single episode</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-episodes">Get multiple episodes</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-episodes">Filter episodes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="section">
                            <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#libraries">Libraries</a>
                            <ul>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#dart">Dart</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#elixir">Elixir</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#go">Go</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#java">Java</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#net">.NET</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#php">PHP</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#python">Python</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#r">R</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#ruby">Ruby</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#rust">Rust</a>
                                </li>
                                <li class="item">
                                    <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#swift">Swift</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="nav-desktop" class="desktop__Wrapper-sc-16dcqc-0 rNFWf">
        <nav>
            <div class="sidebar__TOCWrapper-sc-1qv9b7u-0 tQijR">
                <ul>
                    <li class="section">
                        <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#introduction">Introduction</a>
                        <ul>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#graphql">GraphQL</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#rest">REST</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#info-and-pagination">Info and Pagination</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#javascript-client">JavaScript client</a>
                            </li>
                        </ul>
                    </li>
                    <li class="section">
                        <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#character">Character</a>
                        <ul>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#character-schema">Character schema</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-characters">Get all characters</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-character">Get a single character</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-characters">Get multiple characters</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-characters">Filter characters</a>
                            </li>
                        </ul>
                    </li>
                    <li class="section">
                        <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#location">Location</a>
                        <ul>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#location-schema">Location schema</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-locations">Get all locations</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-location">Get a single location</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-locations">Get multiple locations</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-locations">Filter locations</a>
                            </li>
                        </ul>
                    </li>
                    <li class="section">
                        <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#episode">Episode</a>
                        <ul>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#episode-schema">Episode schema</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-all-episodes">Get all episodes</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-a-single-episode">Get a single episode</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#get-multiple-episodes">Get multiple episodes</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#filter-episodes">Filter episodes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="section">
                        <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX title" href="/documentation/#libraries">Libraries</a>
                        <ul>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#dart">Dart</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#elixir">Elixir</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#go">Go</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#java">Java</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#net">.NET</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#php">PHP</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#python">Python</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#r">R</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#ruby">Ruby</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#rust">Rust</a>
                            </li>
                            <li class="item">
                                <a class="sidebar__Link-sc-1qv9b7u-2 dGSzEX" href="/documentation/#swift">Swift</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>